---
import Layout from '../layouts/Layout.astro';
import Player from '../components/Player/Player';
import TopBanner from '../components/TopBanner/TopBanner';
import type { getVideoType } from 'src/modules/module';
import { setAuthorization } from 'src/utils/utils';

const ENV = {
  TOKEN_NAME: import.meta.env.TOKEN_NAME,
  TEST_URL: import.meta.env.TEST_URL,
};

var commentList: any = [];
var VidoeInfo: getVideoType[] = [];
const token = Astro.cookies.get(ENV.TOKEN_NAME).value;
const PageUrl = Astro.request.url;
const video_ids = Astro.url.searchParams.get('video_ids') || '01GH57C05CRNT6V1Z0VNGS13D5';
// examp  http:127.0.0.1:3000/?video_ids=01GH57C05CRNT6V1Z0VNGS13D5
const localhost = Astro.url.origin;

console.log(localhost);
const setCookies = (str: string) => {
  Astro.cookies.set(ENV.TOKEN_NAME, str, {
    path: '/',
  });
};

const response = await fetch(localhost + `/api/setCookies`, { method: 'get' });
const aluluTokenJson = await response.json();
setCookies(aluluTokenJson.access_token);
---

<Layout title="alulu">
  <div>
    {aluluTokenJson.access_token}
  </div>
</Layout>
